<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumEasy"  thread-count="5">
<parameter name="browser" value="chrome"/>
  <test name="TC_SeleniumEasy"> 
    <classes>
        <class name="Selenium_Topics_TestCases.TC_SeleniumEasy_001"/> 
      <class name="Selenium_Topics_TestCases.TC_SeleniumEasy_002"/> 
      <class name="Selenium_Topics_TestCases.TC_SeleniumEasy_003"/> 
       <class name="Selenium_Topics_TestCases.TC_SeleniumEasy_004"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
